<form [formGroup]="signupForm" (ngSubmit)="signUp()">
<mat-card>
  <mat-card-title>Inscription</mat-card-title>
  <mat-card-content>
      <div class="form-group">
        <mat-form-field>
          <input formControlName="email" matInput type="text" placeholder="Email" />
				</mat-form-field>
				<mat-form-field>
						<input formControlName="password" matInput type="password" placeholder="Password" />
					</mat-form-field>
      </div>
      <mat-form-field>
        <input formControlName="pseudo" matInput type="text" placeholder="Ville" />
      </mat-form-field>
      <mat-form-field>
        <input formControlName="city" matInput type="text" placeholder="Ville" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Favorite team</mat-label>
        <mat-select formControlName="favteam" >
          <mat-option *ngFor="let club of clubs">
            {{ club.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" color="primary" mat-raised-button>Inscription</button>
  </mat-card-content>
</mat-card>
</form>